
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap" rel="stylesheet">

<div class="container fondo">

	<div class="row centrado ajuste">
		<div class="col centrado">
			<img src="img/logo.png" class="logo">
		</div>
	</div>

	<div class="row info letra mail">
		<div class="col text-center">
			<span>CORREO</span>
			<input type="email" name="" placeholder="E M A I L" class="input text-center">
		</div>
	</div>

	<div class="row info letra mail">
		<div class="col text-center">
			<span>CONTRASEÑA</span>
			<input type="password" name="" placeholder="C O N T R A S E Ñ A" class="input text-center">
		</div>
	</div>

	<div class="row centrado">
		<div class="col centrado">
			<div class="boton letra"><span>Iniciar</span></div>
		</div>
	</div>

	<div class="row espacio">
		<div class="col">
			<span class="log" ui-sref="registro">¿Aún no tienes cuenta? &nbsp <b>Registrate</b> </span>
		</div>
	</div>
	
</div>