/* Empty. Add your own CSS if you like */
.fondo {
	background: url("../img/registro.jpg")center no-repeat;
	background-size: cover;
	height: 100%; 
}
.fondo:before {
	content:'';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}
.titulo {
  padding-bottom: 10%;
  font-size: 20px;
  position: relative;
}
.container {
  padding-top: 27%;
}
.info span{
	position: relative;
  font-size: 15px;
}
.input {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid gray !important;
  outline: none;
  font-size: 20px !important;
  color: #ffff !important;
  background: transparent;
  position: relative !important;
  }
  .mail {
  	padding-top: 5% !important;
  }
  .boton {
    font-size: 16px;
    font-weight: bolder;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	border-radius: 16px;
  	position: relative;
  	background-color: #eb4559;
  	width: 230px;
  	height: 36px;
  	margin-top: 12%;
  }
  .centrado {
  	display: flex !important;
  	align-items: center !important;
  	justify-content: center !important;
  }
  .log {
    color: gray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .log b{
    color: #ffff;
  }
.letra span{
  color: #ffff !important;
  font-family: 'Manrope', sans-serif;
}

/* Vista Login */
.logo {
  position: relative;
  width: 250px;
  height: 125px;
}
.ajuste {
  padding-top: 10%;
}

/* Vista Principal */
.fondotuto {
  background: url("../img/principal.jpg")center no-repeat;
  background-size: cover;
  height: 100%;
}
.cuadro {
  position: absolute;
  top: 500px;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #ffff;
}
.cuadro h4{
  font-family: 'Manrope', sans-serif;
  font-weight: bolder;
  color: black;
  padding-top: 6%;
}
.circulos {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  z-index: 4;
  position: absolute;
  text-align: center;
}
.c2 {
  margin-left: 10%;
  background-color: #ffff !important;
  border: 1px solid gray;
}
.c3 {
  margin-left: 20%;
  border: 1px solid gray;
  background-color: #ffff;
}
.circle {
  margin-left: 36%;
}
h3 {
  color: #E6E6E6;
  margin-left: 80%;
  padding-top: 4.5%;
}