.fondo1 {
	background: url("../img/fondo.jpg")center no-repeat;
	background-size: cover;
	height: 100%;
}
.fondo1:before {
	content:'';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}
.info {
	padding-top: 65%;
}
.log {
	color: #ffff;
	font-family: 'Teko', sans-serif;
	position: relative;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cent {
	display: flex;
	align-items: center;
	justify-content: center;
}